albucore==0.0.24
albumentations==2.0.7
asyncpg==0.30.0
bcrypt==4.0.1
certifi==2024.2.2
cffi==1.16.0
click==8.1.7
cryptography==41.0.7
ecdsa==0.18.0
fastapi==0.104.1
fsspec==2023.9.2
Jinja2==3.1.2
matplotlib==3.8.0
minio==7.1.17
networkx==3.2.1
numpy==1.24.4
opencv-python-headless==4.9.0.80
pandas==2.1.1
passlib==1.7.4
pillow==10.0.1
psutil==5.9.6
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.0.3
pydantic_core==2.23.4
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3
pywin32==306; sys_platform == 'win32'
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
scipy==1.11.3
setuptools==68.2.2
simsimd==5.9.2
SQLAlchemy==2.0.23
starlette==0.27.0
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
ultralytics==8.3.144
ultralytics-thop==2.0.14
urllib3==2.0.7
uvicorn==0.24.0
watchfiles==0.21.0
websockets==11.0.3
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
